<p id="notice"><%= notice %></p>

<p>
  <strong>Own cheeses:</strong>
  <%= @letcheese.own_cheeses %>
</p>

<%= link_to 'Edit', edit_letcheese_path(@letcheese) %> |
<%= link_to 'Back', letcheeses_path %>
